body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header__row{
    display: flex;
   justify-content: space-between;
   padding: 50px;
   background-color: #445163;
}
.header__item-1 h1{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}
.header__item-1 li{
    background: url('../img/check_icon_348.png') left center no-repeat;
    padding-left: 40px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}
.block__row{
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 50px;
}
.block__item-1{
    align-items: center;
    margin-right: 40px;  
}
.block__item-2 h2{
    align-self: flex-end;
    margin: 0 0 40px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.block__item-2 div{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.box__wrap{
    background-color: #f4f6f4;
     padding: 50px;
}
h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}
.wrap__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.wrap__item{
   margin: 25px 0; 
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.wrap__item h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}
.text{
        width: 360px;
}
.box__vertical h2{
    padding: 50px 0 25px 0;
}
.vertical__row{
    display: flex;
    margin: 15px;
    background-color: #ffffff;
    justify-content: center;    
}
.vertical__colomn{
    border: 1px solid hsl(215, 19%, 33%);
    display: flex;
    flex-direction: column;
    margin: 25px;
    background-color: #445163;
    height: 500px;
    justify-content: center;   
}
.plate__item{
    width: 300px;
    padding: 15px;
    text-align: center;

}
.vertical__plate-big{
     flex: 1 1 auto;
}       
.text1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.text2{ 
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}
.text3{
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.text4{
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border-radius: 15px;
    width: 260px;
    margin: 0 0 15px 20px
}
footer{
    background-color: #f4f6f4;
    padding: 20px;
}
.footer__text{
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}